@import "~bootstrap/scss/bootstrap";
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

.ratio-5x3 {
  --bs-aspect-ratio: calc(3 / 5 * 100%);
}

.bg-section13{
  background-color: #e9ecef;
}
.bg-section2{
  background-color: #adb5bd;
}
.vertical-nav {


  width: 14rem;
  height: 100vh;

  position:fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  background-color: #dc3545;

}

.page-content {
  width: calc(100% - 10rem);
  margin-left: 12rem;


}

/* for toggle behavior */



#content.active {
  width: 100%;
  margin: 0;
}
.text-primary {


  font-family: "Arial Rounded MT Bold";
  color: #dc3545;

}



